<body>
  <div class="container_class">

    <h2>Global Bank User Operations</h2>

    <div class="align-left">
      <br><br>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" (click)="ApplyForLoan()">Apply for Loan   <i class="fa fa-check" aria-hidden="false" ></i></button>
      <br><br>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" (click)="CreditOrDebit()">Transactions    <i class="fa fa-usd" aria-hidden="true"></i></button>
      <br><br>
      <button type="button" class="btn btn-primary" data-bs-toggle="button" (click)="ShowRecentTransactions()">View Statement   <i class="fa fa-eye" aria-hidden="true"></i></button>
    </div>
  </div>
</body>



